@font-face {
  font-family: ExoBold;
  src: url(../fonts/Exo-Bold.otf); }

@font-face {
  font-family: ExoBoldItalic;
  src: url(../fonts/Exo-BoldItalic.otf); }

@font-face {
  font-family: ExoMedium;
  src: url(../fonts/Exo-Medium.otf); }
