section.contact
   h1.contact__title Say Hello
   h3.contact__descriptions Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
   .contact__wrap 
      form.contact__form
         input.contact__form_input(placeholder="Name")
         input.contact__form_input(placeholder="Email")
         textarea.contact__form_area(placeholder="Message"  rows="12" cols="45")
         a.contact__form_btn Send Message
      