footer.footer
   .footer__wrap
      .footer__icons
         a.footer__icons_link
            i.icon-social-twitter
         a.footer__icons_link
            i.icon-social-facebook
         a.footer__icons_link
            i.icon-social-instagram
         a.footer__icons_link
            i.icon-social-pinterest
         a.footer__icons_link
            i.icon-social-linkedin 
         a.footer__icons_link
            i.icon-social-github   
      .footer__txt 
         h3.footer__txt_title Developed by: Ruslan Biletskyi 