header.header
   .container
      nav.header__nav
         ul.header__menu   
            li.header__menu_item
               a.header__menu_link(onclick="scrollItems('.intro')") Intro
            li.header__menu_item
               a.header__menu_link(onclick="scrollItems('.doing')") What I do 
            li.header__menu_item
               a.header__menu_link(onclick="scrollItems('.about')") Who i am
            li.header__menu_item
               a.header__menu_link(onclick="scrollItems('.works')") My work
            li.header__menu_item
               a.header__menu_link(onclick="scrollItems('.contact')") Contact   
      