section.works
   .works__title My work
   p.works__descriptions Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum. Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales venenatis arcu, id varius justo euismod in. Curabitur egestas consectetur magna vitae.
   .works__left 
   .works__left.works__left_second
   .works__left.works__left_third
  
   .works__right
   .works__right.works__right_second
   .works__right.works__right_third
     
   